@use '@carbon/styles/scss/type';
@use '@carbon/colors';
@use '@carbon/styles/scss/spacing';
@import '~@openmrs/esm-styleguide/src/vars';


.container {
  padding: spacing.$spacing-07;
}


.body {
  @include type.type-style('body-compact-02');
  color: $text-02;
  height: spacing.$spacing-12;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-03;
  display: flex;
  justify-content: space-between;
}


.welcome {
  @include type.type-style('heading-04');
  margin: spacing.$spacing-05 0; 
}

.explainer {
  margin-bottom: 2rem;
}
